/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY */
:root {
    --title-color: #e42a6c;
    --bgc-card: #000;
    --mail-color: #66ceff;
    --title-size: 1.3rem;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.centered {
    text-align: center;
}

.padding-top-30 {
    padding-top: 30px;
}

/* GENERICS */
body {
    font-family: 'Fredoka', sans-serif;
}

article {
    padding-bottom: 40px;
}

/* HEADER */
.title {
    color: var(--title-color);
    font-size: var(--title-size);
}

/* CARDS */
div > img {
    height: 100px;
    float: left;
    margin-right: 10px;
}

.cards {
    float: left;
    text-align: left;
    color: #fff;
    width: calc(100% / 3 - 20px);
    background-color: var(--bgc-card);
    margin: 10px;
}

.cards, div > img {
    border-radius: 15px;
}

.card-name {
    padding-top: 20px;
    font-size: 1.2rem;
}

.card-profes {
    font-size: 0.9rem;
    font-weight: normal;
}

.card-mail {
    text-decoration: none;
    color: var(--mail-color);
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}