/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY */
:root {
    --title-color: #e42a6c;
    --bgc-card: #000;
    --mail-color: #1c86c6;
}


.container {
    max-width: 1080px;
    margin: 0 auto;

    /* DA ELIMINARE */
    background-color: aqua;
}

.centered {
    text-align: center;
}

.title {
    color: var(--title-color)
}


body {
    font-family: 'Fredoka', sans-serif;
}